body {
    font-family: 'Cairo', sans-serif !important;
}

.p-home {
    font-size: 4rem;
}
.h1-home {
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 4px;
}

.h2-home {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 4px;
}